<!DOCTYPE HTML>
<html>
	<head>
		<title>GoFlyNow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/flightpath.css" />
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
		<script src="flightpath.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
		<script src="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/daterangepicker.css" /> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage" ng-app="mainApp" ng-controller="MainController">
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header">
				<!-- Inner -->
				<div class="inner">
					<header>
						<h1 style= "text-shadow: 2px 2px 0px #000000;">GoFlyNow</h1>
						<!-- <p>Another fine freebie by HTML5 UP</p> -->
						<br></br>
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<img class="mx-auto d-block" src="images/departures.svg" alt="Card image cap" style="width:100px;height:100px;">
									<div class="card-block" style="background-color:black;">
										<div class="sourceTxtBox" style= "padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
											<input class="form-control" id="from" type="text" placeholder="Source..." ng-model="source">
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<img class="mx-auto d-block" src="images/arrivals.svg" alt="Card image cap" style="width:100px;height:100px;">
									<div class="card-block" style="background-color:black;">
										<!-- <h3 class="card-title">To</h3> -->
										<div class="destTxtBox" style= "padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
											<input class="form-control" id="to" type="text" placeholder="Destination..." ng-model="destination">
										</div>
									</div>
								</div>
							</div>
						</div>
						<br></br>
						<a ng-href="#mapCanvas" class="button circled scrolly" onClick="go();" ng-click="fetchData()" style= "outline: none;">Start</a>
					</header>
				</div>
				<nav id="nav">
					<ul>
						<!-- <li style= "color: #000;"><img src="Columbia.svg.png" alt="Columbia University" style="width:30px;height:30px;"></li> -->
						<li class="font-weight-bold" style= "color: #000;"><a href="index.html">Home</a></li>
						<li class="font-weight-bold" style= "color: #000;"><a href="left-sidebar.html">Statistics</a></li>
						<!-- <li class="font-weight-bold" style= "color: #000;"><a href="right-sidebar.html">Delay Data</a></li> -->
						<li class="font-weight-bold" style= "color: #000;"><a href="no-sidebar.html">Admin</a></li>
					</ul>
				</nav>
			</div>
			<div style="overflow: auto;" id="mapCanvas" class="map" ></div>
			<div>
				<div id= "results" style = "width: 100%; margin: 0 auto;">
					<table class="table table-striped" id = "table">
						<thead class="text-center" >
							<th class="font-weight-bold" style= "vertical-align: middle;">Flight ID</th>
							<th class="font-weight-bold" style= "vertical-align: middle;">Source Airport</th>
							<th class="font-weight-bold" style= "vertical-align: middle;">Destination Airport</th>
							<th class="font-weight-bold" style= "vertical-align: middle;"> Scheduled Departure Time</th>
							<th class="font-weight-bold" style= "vertical-align: middle;"> Scheduled Arrival Time</th>
							<th class="font-weight-bold" style= "vertical-align: middle;"> Status</th>
							<th class="font-weight-bold" style= "vertical-align: middle;"> Expected Departure Delay</th>
							<!-- <th class="font-weight-bold" style= "vertical-align: middle;"> Expected Arrival Delay</th> -->
							
						</thead>
						<!-- <tr flex="100" dir-paginate="company in details| orderBy:sortKey:reverse | filter:search | itemsPerPage:5"> -->
						<tr ng-repeat="x in flightData" class="text-center">
							<td><a ng-href="#fin" ng-click="getFlightInfoStatus(x.segments[0].ident)">{{ x.segments[0].ident }}</a></td>
							<td>{{ x.segments[0].origin.airport_name }}</td>
							<td>{{ x.segments[0].destination.airport_name }}</td>
							<td>{{ x.segments[0].filed_departure_time.date +" "+ x.segments[0].filed_departure_time.dow +" "+x.segments[0].filed_departure_time.time+" "+ x.segments[0].filed_departure_time.tz }}</td>
							<td>{{ x.segments[0].estimated_arrival_time.date+" "+ x.segments[0].estimated_arrival_time.dow +" "+ x.segments[0].estimated_arrival_time.time+" "+ x.segments[0].estimated_arrival_time.tz }}</td>
							<td>{{ x.segments[0].status }}</td>
							<td><a ng-show=x.segments[0].departure_delay style="color:red"> DELAY </a><a ng-show=!x.segments[0].departure_delay style="color:green"> ON-TIME </a></td>
							<!-- <td><a ng-show=x.segments[0].arrival_delay style="color:red"> DELAY </a><a ng-show=!x.segments[0].arrival_delay style="color:green"> ON-TIME </a></td> -->
						</tr>
					</table>
				</div>
				<div id="analysis" ng-show="analyze" style="width:60%;height:60%;margin-left:30px">
					<canvas id="line" class="chart chart-line" chart-data="delay_data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride">
					</canvas>
				</div>
			</div>
			<div id="footer">

					<div class="container">
						<div class="row">
							<div class="12u">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3><a href="https://www.ee.columbia.edu/~cylin/course/bigdata/">EECS 6893 - Big Data Analytics</a></h3>
										</header>
										<p>Developed under the guidance of Dr. Ching Yung Lin at Columbia University in the City of New York</p>
										<ul class="icons">
											<li><a href="https://twitter.com/Columbia" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="https://www.facebook.com/columbia/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="https://www.instagram.com/columbia/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="https://www.linkedin.com/school/2624" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Columbia University. All rights reserved.</li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
			<!-- Footer -->
		</div>
		<div id="fin"></div>
		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.onvisible.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="assets/js/moment.min.js"></script>
		<script src="app.js"></script>
		<script type="text/javascript">loadMap();</script>
	</body>
</html>