<!DOCTYPE HTML>
<html>
	<head>
		<title>GoFlyNow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/daterangepicker.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage" >
		<div id="page-wrapper">
			<!-- Header -->
			<div id="header">
				<!-- Inner -->
				<div class="inner">
					<header>
						<h1>GoFlyNow</h1>
						<!-- <p>Another fine freebie by HTML5 UP</p> -->
						<br></br>
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<img class="mx-auto d-block" src="images/departures.svg" alt="Card image cap" style="width:100px;height:100px;">
									<div class="card-block" style="background-color:black;">
										<!-- <h3 class="card-title">From</h3> -->
										<!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
										<div class="sourceTxtBox" style= "padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
											<input class="form-control" id="from" type="text" placeholder="Source..." >
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<img class="mx-auto d-block" src="images/arrivals.svg" alt="Card image cap" style="width:100px;height:100px;">
									<div class="card-block" style="background-color:black;">
										<!-- <h3 class="card-title">To</h3> -->
										<div class="destTxtBox" style= "padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
											<input class="form-control" id="to" type="text" placeholder="Destination...">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" style= "padding-top: 20px">
							<input type="text" class="form-control" id="daterange" placeholder="Select Dates" >
						</div>
					</header>
					<footer>
						
						<a href="#results" class="button circled scrolly">Start</a>
						
					</footer>
					
				</div>
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="left-sidebar.html">Statistics</a></li>
						<li><a href="right-sidebar.html">Delay Data</a></li>
						<li><a href="no-sidebar.html">Admin</a></li>
					</ul>
				</nav>
			</div>
			<div id= "results" ng-app="mainApp" ng-controller="MainController" style = "width: 600px; margin: 0 auto;">
							<table class="table table-hover" id = "table">
								<thead>
									<th>Flight No.
										<span class="glyphicon sort-icon" ng-show="sortKey=='company'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('fname')">Airlines
										<span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th>Time
										<span class="glyphicon sort-icon" ng-show="sortKey=='lastName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th>Type
										<span class="glyphicon sort-icon" ng-show="sortKey=='employed'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									
								</thead>
								<!-- <tr flex="100" dir-paginate="company in details| orderBy:sortKey:reverse | filter:search | itemsPerPage:5"> -->
								<tr ng-repeat="x in details">
									<td>{{ x.company}}</td>
									<td>{{ x.firstName }}</td>
									<td>{{ x.lastName }}</td>
									<td>{{ x.employed }}</td>
									
								</tr>
							</table>
						</div>



			<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Hi. You're looking at <strong>Helios</strong>.</h2>
					<p>
						A (free) responsive site template by <a href="http://html5up.net">HTML5 UP</a>.
						Built on <strong>skel</strong> and released under the <a href="http://html5up.net/license">CCA</a> license.
					</p>
				</header>
			</section>
			<!-- Carousel -->
			<section class="carousel">
				<div class="reel">
					<article>
						<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
						<header>
							<h3><a href="#">Pulvinar sagittis congue</a></h3>
						</header>
						<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
					</article>
				</div>
			</section>
			<!-- Main -->
			<div class="wrapper style2">
				<article id="main" class="container special">
					<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
					<header>
						<h2><a href="#">Sed massa imperdiet magnis</a></h2>
						<p>
							Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
							pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
						</p>
					</header>
					<p>
						Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
					</p>
					<footer>
						<a href="#" class="button">Continue Reading</a>
					</footer>
				</article>
			</div>
			<!-- Features -->
			<!-- Footer -->
		</div>
		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.onvisible.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="assets/js/moment.min.js"></script>
		<script type="text/javascript" src="assets/js/daterangepicker.js"></script>
		<script type="text/javascript" src="assets/js/demo.js"></script>
		<script src="app.js"></script>
	</body>
</html>